*{
margin: 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 0px;
}
img{
    width: 300px;
    height: auto;
}
.wrap{
    display: grid;
    width: 100%;
    grid-template-rows: 10% 1000px 75% 200px;
    grid-template-areas: 
    "nv"
    "lk"
    "ma"
    "fo"
    ;
}
.mobil-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    height: 100vh;
    width: 100vw ;
    align-items: center;
}

.circle{
    grid-area: nv;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}
.toggle .circle{
    display: none;
}
#bak-circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: maroon;
    cursor: pointer;
}
.circle div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5px;
    width: 35px;
    background-color: mintcream;
    margin: 4px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    height: 100vh;
    width: 100vw ;
    background-color: maroon;  
}
.nav-links a{
   color: mintcream;
   text-decoration: none;
   font-size: 100px;
   padding-left: 5%;
}
#cross{
    height: 50px;
    width: auto;
    position: absolute;
    top: 50px;
    right: 75px;
    cursor: pointer;
}
.nav-link-mobil{
    display: none;
    position: fixed; 
    bottom: 0px;
}
.nav-active{
    /* display: initial; */
}
.paint-sale{
grid-area: lk;
display: grid;
align-items: center;
justify-items: center;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"l1 l2"
"l3 l4";
}
#paint-sale1{
align-items: center;
grid-area: l1;
}
#paint-sale2{
grid-area: l2;
}
#paint-sale3{
grid-area: l3;
}
#paint-sale4{
grid-area: l4;
}
.mobil-main{
    grid-area: ma;

}
.mobil-footer{
grid-area: fo;
}
