*{
margin: 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 0px;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
img{
    width: 40vw;
    height: auto;
}
.wrap{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: 8vh 85vh auto 200px;
    grid-template-areas: 
    "nv"
    "lk"
    "ma"
    "fo"
    ;
}
.circle{
    grid-area: nv;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}
#bak-circle{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: maroon;
    cursor: pointer;
}
.circle div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0.7vh;
    width: 4vh;
    background-color: mintcream;
    margin: 0.3vh;
}
/* verkar inte funka korrekt  */
.circle .toggle {
    display: none;
}
.nav-links{
    position: fixed; 
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100vh;
    width: 100vw ;
    background-color: maroon;  
}
.nav-links a{
   color: mintcream;
   text-decoration: none;
   font-size: 100px;
   padding-left: 5%;
}
#cross{
    height: 50px;
    width: auto;
    position: absolute;
    top: 50px;
    right: 75px;
    cursor: pointer;
}
.nav-link-mobil{
    display: none;
    position: fixed; 
    bottom: 0px;
}
.nav-active{
    /* display: initial; */
}
.paint-sale{
grid-area: lk;
display: grid;
align-items: center;
justify-items: center;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"l1 l2"
"l3 l4";
}
.paint-sale div{
    height: 30vh;
    width: 22vh;
    overflow: hidden;
}
.paint-sale img{
    width: 100%;
    height: auto;
}
.paint-sale h3{
    display: flex;
    justify-content: center;
    opacity: 0.5;
    position: absolute;
}
#paint-sale1{
align-items: center;
grid-area: l1;
}
/* #paint-sale1 h3{
    color: mintcream;
    z-index: 1;
    position: absolute;
    bottom: 3px;
} */
#paint-sale2{
grid-area: l2;
}
#paint-sale3{
grid-area: l3;
}
#paint-sale4{
grid-area: l4;
}
.mobil-main{
    grid-area: ma;
    padding: 7%;
}
.mobil-main p{
    font-size: 27px;
    font-family: serif;
    padding-bottom: 40px;
}
.mobil-main h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif; 
    /* får komma på en ny sen  /\    */
    margin-bottom: 25px;
}
.mobil-footer{
    grid-area: fo;
    background-color: maroon;
    color: mintcream;
    padding-top: 6px;
    padding-left: 6px;
}
.mobil-footer h2{
    margin-bottom: 20px;
}
.mobil-footer a{
    text-decoration: none;
    color: mistyrose;
    background-color: firebrick;
    font-size: 30px;
    padding: 9px;
    border-radius: 20%;
}