*{
margin: 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 0px;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
img{
    width: 40vw;
    height: auto;
}
    .wrap{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-rows: auto 1fr auto 20vh;
        grid-template-areas: 
        "nv"
        "lk"
        "ma"
        "fo"
        ;
    }
    .nav-but{
        grid-area: nv;
        display: flex;
        margin-top: 2%;
        margin-bottom: 2%;
        justify-content: center;
    }
    #bak-circle{
        height: 10vh;
        width: 10vh;
        border-radius: 50%;
        background-color: maroon;
        cursor: pointer;
    }
    .nav-but div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1vh;
        width: 7vh;
        background-color: mintcream;
        margin: 0.45vh;
    }

    #bak-circle.toggle {
        display: none;
    }
    .nav-menu{
        visibility: hidden;
        position: fixed; 
        top: 0px;
        z-index: 2;
    }
    .nav-links{
        position: fixed; 
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 100%;
        width: 100% ;
        background-color: maroon;
        font-size: 2vh;
        /* transition: all 100ms linear, background-position 1ms; */
    }
    .nav-links a{
    color: mintcream;
    text-decoration: none;
    font-size: 300%;
    padding-left: 5%;
    }
    #cross{
        height: 5%;
        width: auto;
        position: fixed;
        top: 3vh;
        right: 3vh;
        cursor: pointer;
        z-index: 3;
        /* transition: all 1000ms linear */
    }
    .nav-active{
        visibility: visible;

    }
    .paint-sale{
        grid-area: lk;
        display: grid;
        justify-content: center;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "l1 l2"
        "l3 l4";
        z-index: 1;
    }
    .paint-sale a{
        display: flex;
        margin: 1vh;
    }
    .paint-sale img{
        height: 170%;
        object-fit: cover;
        
    }
    .paint-sale h3{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        color: white;
        padding: 1vh;
        font-size: 110%;
        text-shadow: 2px 2px 4px black;
    }
    #paint-sale1{
        grid-area: l1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #paint-sale2{
        grid-area: l2;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #paint-sale3{
        grid-area: l3;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #paint-sale4{
        grid-area: l4;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .mobil-main{
        grid-area: ma;
        padding: 7%;
    }
    .mobil-main p{
        font-size: 27px;
        font-family: serif;
        padding-bottom: 40px;
    }
    .mobil-main h1{
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif; 
        /* får komma på en ny sen  /\    */
        margin-bottom: 25px;
    }
    .footer{
        grid-area: fo;
        background-color: maroon;
        color: mintcream;
        padding-top: 6px;
        padding-left: 6px;
        height: 22vh;
    }
    .footer h2{
        margin-bottom: 3vh;
        font-size: 4vh;
    }
    .footer a{
        text-decoration: none;
        color: mintcream;
        background-color: firebrick;
        font-size: 4vh;
        padding: 2.5vh;
        border-radius: 20%;
    }
/* __________________ */
.wrap-salu{
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: auto 30vh 1fr 20vh;
    grid-template-areas: 
    "nv"
    "kt"
    "sb"
    "fo"
    ;
    overflow: hidden;
}
.nav-salu{
    grid-area: nv;
}
.kotakt{
    grid-area: kt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}
.kotakt h2{
    font-size: 3vh;
}
.kotakt h3{
    font-size: 2.5vh;
}
.salu-box{
    grid-area: sb;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "b1"
    "b2"
    "b3"
    "b4"
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.salu-box div{
    height:50vh ;
    width: 90vw;
    margin-bottom: 5vh;
    border: solid black 0.5px;
    box-shadow: 1px 2px 8px 1px black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.salu-box img{
    height: auto;
    width: 65%;
    float: left;
    margin-left: 10vw;
    margin-top: 2.3vh;
}
.salu-box h3{
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: left;
    margin: 2vh;
    color: black;
    font-size: 3vh;
}
.salu-box h3:hover{
    cursor: default;
}
/* ser lite udda med text saken på sidan med text cursor (som är då "auto")*/
#pris{
    font-size: 4vh;
    margin-left: 0.1vw;
}
.sbox-1{
    grid-area: b1;
}
.sbox-2{
    grid-area: b2;
}
.sbox-3{
    grid-area: b3;
}
.sbox-4{
    grid-area: b4;
}
/* ________________________ */
.wrap-nya{
    height: auto;
    display: grid;
    grid-template-columns: 100vw ;
    grid-template-rows:auto 1fr 70vh 20vh;
    grid-template-areas: 
    "nv"
    "vn"
    "gv"
    "fo"
    ;
    display: flex;
    flex-direction: column;
}
.nya-verk{
    grid-area: vn;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nya-verk div{
    height: 45vh;
    width: 90vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.5px black;
    margin: 5vh;
    box-shadow: 1px 2px 8px 1px black;
}
.nya-verk h2{
    font-size: 10vh;
    margin: 2vh;
}
.nya-verk p{
    font-size: 3vh;
    margin: 1vh;
}
.nya-verk img{
    width: 80%;
    height: auto;
}
.nya-verk button{
    position: absolute;
    margin: 1vh;
    bottom: 10%;
}
.link-g{
    grid-area: gv;
    height: auto;
    width: 90vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: 2vh;
    margin-bottom: 8vh;
}

.link-g h2{
    font-size: 10vw;
    margin: 3vw;
}
.link-g a{
    text-decoration: none;
    color: mintcream;
    background-color: firebrick;
    font-size: 7vh;
    padding: 2.5vh;
    border-radius: 2vh;
}